<% layout('layout') -%>

<div class="jumbotron" id="navbar-gap">
	<div class="container">
		<h1 class="text-center">Find your favorite product</h1>
		<p class="text-center">Search many of Ecommerce products</p>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="input-group col-md-12">
					<input type="text" id="search" class="form-control input-lg" name="search_term" placeholder="Search">
					<span class="input-group-btn">
						<button type="submit" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-search"></i></button>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row" id="searchResults">
		<% for (var i = 0; i < products.length; i++) { %>
			<div class="col-md-4">
				<a href="/product/<%= products[i]._id %>">
					<div class="thumbnail">
						<img src="<%= products[i].image %>">
						<div class="caption">
							<h3><%= products[i].name %></h3>
							<p><%= products[i].category.name %></p>
							<p>$<%= products[i].price %></p>
						</div>
					</div>
				</a>
			</div>
		<% } %>
	</div>
        <% if (pages > 0) { %>
            <ul class="pagination text-center">
                <% if (current == 1) { %>
                    <li class="disabled"><a>First</a></li>
                <% } else { %>
                    <li><a href="/page/1">First</a></li>
                <% } %>
                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                <% if (i !== 1) { %>
                    <li class="disabled"><a>...</a></li>
                <% } %>
                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                    <% if (i == current) { %>
                        <li class="active"><a><%= i %></a></li>
                    <% } else { %>
                        <li><a href="/page/<%= i %>"><%= i %></a></li>
                    <% } %>
                    <% if (i == Number(current) + 4 && i < pages) { %>
                        <li class="disabled"><a>...</a></li>
                    <% } %>
                <% } %>
                <% if (current == pages) { %>
                    <li class="disabled"><a>Last</a></li>
                <% } else { %>
                    <li><a href="/page/<%= pages %>">Last</a></li>
                <% } %>
            </ul>
        <% } %>
</div>
